.users-menu-text {
  display: flex;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  text-transform: capitalize;
  position: relative;
}
.users-menu-text:hover {
  color: #f94949;
}
.users-menu-text:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #f94949;
  text-align: center;
}
.user-data {
  display: flex;
  flex-direction: row;
}
.css-1ujykiq-MuiButtonBase-root-MuiTab-root {
  min-width: 135px !important;
  padding: 20px 1px !important; 
}
